@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Poppins:ital,wght@0,400;1,100&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #FFD8B1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.imgBiscoito {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.textoFrase {
    color: #C65102;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 25px;
    font-weight: bold;
}